<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588851291104-v983sdkmo9c4ibojlq8du8d5hf7ujj4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588851291104-v983sdkmo9c4ibojlq8du8d5hf7ujj4g</string>
	<key>API_KEY</key>
	<string>AIzaSyDy1ETGaBoj5Z8D3se-_o27-0mU1a3yJXk</string>
	<key>GCM_SENDER_ID</key>
	<string>588851291104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khudkibook</string>
	<key>PROJECT_ID</key>
	<string>khudkibook-cb820</string>
	<key>STORAGE_BUCKET</key>
	<string>khudkibook-cb820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588851291104:ios:dc83791087b07e1562c185</string>
</dict>
</plist>